@charset "utf-8";
/* CSS Document */

/* Keyboar Accessaability */

.skip-map {
    position:absolute;
    left:-999px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.skip-map:focus-within {
    /* make it visible */
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
}
#map .skip-map a {
    width: 250px;
    font-size:1.1em;
}

/* Color Contrast A11Y */

#footer {
    color: #bbb;
}
.leaflet-container a,
#breadcrumb li a {
    color: rgba(0, 115, 165, 1);
}

/***************************** 
    initial style settup
*******************************/

body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* position: absolute; */
}
.inside header {
    position: absolute;
}
#breadcrumb {
    text-align: center;
}
#restaurants-list {
	display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#restaurants-list .restaurant-img {
    min-height: auto;
}
#restaurants-list li {
    width: inherit;
    max-width: 500px;
    padding: 15px;
    margin: 10px 0px;
    text-align: center;
    border-radius:4px;
}
#restaurants-list li h2,
#restaurant-name {
    background-color:rgb(71, 112, 25);
    color: #fff;
    font-family: Arial,sans-serif;
    font-size: 1.25em;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 1.3;
    padding: 12px;
    margin: 5px 0px 15px;
    border-radius:2px;
    text-transform: uppercase;
    text-align: center;
}
#restaurants-list li a {
    background-color: initial;
    text-transform: none;
    color:  firebrick;
    /* border-bottom: 0;  */
    border:2px solid #dadada;
    border-radius:3px;
    padding:10px 20px;
}
#restaurants-list li a:hover {
    background-color: gray;
    color: #fff;
    border:2px solid gray;
}
.filter-options {
    height: auto;
    padding: 15px 15px 20px;
    width: inherit;
    background-color:  #444;
}
.filter-options select {
    width: inherit;
    margin: 15px 0px 0px 15px;
    border-radius: 3px;
}
nav h1 a {
    line-height: 80px;
    font-size: 12pt;
    letter-spacing: 7px;
}
#breadcrumb {
    width: calc(100% - 80px);
}
#maincontent{
    display: grid;
}
#restaurant-container {
    order:  1;
    padding: 150px 20px 30px;
}
#restaurant-img,
#restaurant-cuisine {
    width: 100%;
}
#reviews-container {
    background-color: #555;
    order:  3;
    padding: 20px;
}
#restaurant-container,
#reviews-container {
    width: inherit;
    
}
#reviews-container h2{
    text-transform: uppercase;
    font-size: 2em;
    padding-left: 10px;
}
#reviews-list li {
    padding: 20px;
    width: inherit;
    border: 0px;
}
.inside #footer {
    width: inherit;
    margin-top: -1px;
    position: relative;
}

/******************************************************
    style changes @ 375px, 700px, 1000px & 1200px
*******************************************************/

@media (min-width: 375px) {

    /* index page style */
    #restaurants-list li {
        margin: 15px 0px;
    }
}
@media (min-width: 450px) {

    #restaurant-container {
        padding: 150px 40px 30px;
    }
    #reviews-container {
        padding: 30px 40px;
    }
}
@media (max-width: 699px) {

    .inside #map-container {
        width: inherit;
        height: 330px;
        position: relative;
        margin-top: -75px;
        margin-bottom: 95px;
        order:  2;
    }
}

@media (min-width: 700px) {

    /* index page style */
    #restaurants-list li {
        margin: 15px 10px;
    }

    /* restaurant page style */
    .inside header {
        position: sticky;
    }
    #restaurant-container,
    #reviews-container {
        width: calc(60% - 50px);
        padding: 25px;
    }
    .inside #map-container {
        margin-left: 60%;
        position: sticky;
    }
    .inside #map {
        position: fixed;
        max-width: calc(40% - 20px);
        height: calc(100% - 196px);
    }
    .inside #footer {
        position: sticky;
    }
}
@media (min-width: 740px) {

    /* index page style */
    #restaurants-list li {
        max-width: 300px;
    }
}
@media (min-width: 1000px) {
    
    #restaurant-container,
    #reviews-container {
        width: calc(55% - 70px);
        padding: 35px;
    }
    .inside #map-container {
        margin-left: 55%;
    }
    .inside #map {
        max-width: calc(45% - 35px);
    }
}

@media (min-width: 1200px) {
    
    .inside #map {
        max-width: 505px;
    }
}