@charset "utf-8";
/* CSS Document */

/* Keyboar Accessaability */

.skip-map {
    position:absolute;
    left:-999px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.skip-map:focus-within {
    /* make it visible */
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    overflow:auto;
    z-index:999;
}
#map .skip-map a {
    width: 150px;
    font-size:1.1em;
}
/* **************************** */

#restaurants-list {
	display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#restaurants-list li {
    width: 250px;
}
.filter-options {
    height: 70px;
    padding: 10px;
    width: inherit;
    background-color: rgb(100, 50, 100);
}

@media (max-width: 600px) {

    .inside header {
        position: absolute;
    }
    nav h1 a {
        color: #c977ff;
        line-height: 80px;
        font-size: 12pt;
        letter-spacing: 7px;
    }
    #breadcrumb {
        width: calc(100% - 80px);
    }
    #maincontent{
        display: grid;
    }
    #restaurant-container {
        width: inherit;
        order:  1;
    }
    #restaurant-img,
    #restaurant-cuisine {
        width: 100%;
    }
    .inside #map-container {
        width: inherit;
        height: 330px;
        position: relative;
        margin-top: -75px;
        margin-bottom: 95px;
        order:  2;
    }
    #reviews-container {
        background-color: #444;
        width: inherit;
        padding: 30px 40px;
        order:  3;
    }
    #reviews-list li {
        padding: 20px;
        width: inherit;
        border: 0px;
    }
    .inside #footer {
        width: inherit;
        margin-top: -1px;
        position: relative;
    }
}
@media (min-width: 601px) {
    
    nav h1 a {
        color: #ff7799;
        line-height: 80px;
    }
    #breadcrumb,
    #restaurant-container,
    #reviews-container {
        width: calc(60% - 60px);
    }
    #restaurant-img,
    #restaurant-cuisine {
        width: 100%;
    }
    .inside #map-container {
        margin-left: 20px;
        width: calc(40% - 20px);
    }
    #reviews-container {
        background-color: rgb(90, 70, 70);
    }
    #reviews-list li {
        padding: 20px;
        width: inherit;
        border: 0px;
    }
    .inside #footer {
        position: fixed;
        width: 100%;
    }
}
@media (min-width: 951px) {
    /* this is sposed to stop <div> from growing after 1400px but it's not working */
    body {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    nav h1 a {
        color: #7cff77;
    }
    #breadcrumb,
    #restaurant-container,
    #reviews-container {
        width: calc(50% - 70px);
    }
    .inside #map-container {
        margin-left: 10px;
        margin-right: 40px;
        width: calc(50% - 50px);
    }
}